---
layout: default
title: Web Development Blog - Surender Lohia
description: Articles on Front-end development and other areas of the web.
permalink: /blog/
active: blog
main-title: Web Development Blog
main-description: Articles on Front-end development and other areas of the web.
image: /assets/img/surender.jpg
---
<div class="wrap-small">
  <div class="wrap-in">
    <div class="main-content">
      {% for post in site.posts %}
        {% include blog-list-item.html %}
      {% endfor %}
    </div>
  </div>
</div>
