---
layout: home
active: home
title: Surender Lohia - Front-end Developer
image: /assets/images/surender.jpg
main-js: true
---

<div class="head-section">
  {% include main-menu.html %}
  <div class="wrap">
    <div class="wrap-in">
      <header class="row header-section-spacing">
        <!-- Slider main container -->
        <div id="slider" class="slider-ct swipe">
          <div class="swipe-wrap">
            <div><img src="{{ "/assets/images/slide-1.jpg?v2" | prepend: site.baseurl }}" alt="Surender Lohia"></div>
            <div><img src="{{ "/assets/images/slide-2.jpg?v2" | prepend: site.baseurl }}" alt="Surender Lohia"></div>
            <div><img src="{{ "/assets/images/slide-3.jpg?v2" | prepend: site.baseurl }}" alt="Surender Lohia"></div>
            <div><img src="{{ "/assets/images/slide-4.jpg?v2" | prepend: site.baseurl }}" alt="Surender Lohia"></div>
            <div><img src="{{ "/assets/images/slide-5.jpg?v2" | prepend: site.baseurl }}" alt="Surender Lohia"></div>
          </div>
          <div id="slider-prev-btn" class="icon a p-left p-v-center trans slider-btn">{% include /svg/arrow-left.svg %}</i></div>
          <div id="slider-next-btn" class="icon a p-right p-v-center trans slider-btn">{% include /svg/arrow-right.svg %}</i></div>
        </div>
        
        <div class="l-intro">
          <div class="intro">
            <h1 class="intro-name">Surender Lohia</h1>
            <h2 class="intro-des">Senior Front-end Developer</h2>
            <h3 class="intro-work"><a class="primary-text-link" data-cy="current-office" href="https://tenantcube.com/" target="_blank" rel="noopener noreferrer">@ Tenantcube</a></h3>
          </div>
        </div><!-- /l-intro-->
        <div class="col-60-res row center">
          <div class="one-third-normal">
            <div class="button button-primary-transparent expand light-box-btn" data-href="education" data-cy="btn-education">Education</div>
          </div>
          <div class="one-third-normal">
            <div class="button button-primary-inverse button-spacing-border expand light-box-btn" data-href="employment" data-cy="btn-employment">Employment</div>
          </div>
          <div class="one-third-normal last">
            <a class="button button-primary-transparent expand" href="/resume" data-cy="btn-resume">Resume</a>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>

<section>
  <div class="wrap-small">
    <div class="wrap-in">
      <div class="row divider">
        <h2 class="title">Skill Set</h2>
        <div class="row text-center">
          {% for skill in site.data.skills %}
          <span class="label" data-cy="skill">{{ skill.name }}</span>
          {% endfor %}
        </div>
      </div>
      <!--/top-section-->
      <div class="divider wrap-small">
        <h2 class="title">Recent Projects</h2>
        <div class="row recent-projects mb30">
          {% assign sortedProjects = site.data.projects | sort: "date" | reverse %}
          {% for project in sortedProjects limit:2 %}
            <div class="one-half no-space">
              {% include project-thumb.html %}
            </div><!-- thumb-item -->
          {% endfor %}
        </div>
        <div class="row">
          <a href="/portfolio" class="button button-primary right">More Projects</a>
        </div>
      </div><!-- /portfolio-list -->
      <div class="divider post-ct">
        <h2 class="title">Recent Post</h2>
        {% for post in site.posts limit:3 %}
          {% include blog-list-item.html %}
        {% endfor %}
        {% if site.posts.size > 3 %}
          <div class="row">
            <a href="/blog" class="button button-primary right">More Post</a>
          </div>
        {% endif %}
      </div><!-- /portfolio-list -->
        <div class="row text-center mb20">
          <h2 class="title">Share</h2>
          {% include  share.html %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Light box -->
    <div class="overlay">
      <div class="light-box-close-btn trans">{% include /svg/close.svg %}</div>
      <div class="light-box" id="education" data-cy="modal-education">
        <div class="light-box-wrap">
          <div class="light-box-content light-box-content-spacing">
            <div class="light-box-title">
              <h3 class="sub-title"><strong>Education</strong></h3>  
            </div>
            <ul class="n-list n-list-expanded-list">
              <li>
                <strong>Bachelor of Computer Applications</strong>, C.Kandaswami Naidu College For Men, University of Madras (2010).
              </li>
            </ul>
          </div>
        </div>
      </div> <!-- /#education -->
      <div class="light-box" id="employment" data-cy="modal-employment">
        <div class="light-box-wrap">
          <div class="light-box-content light-box-content-spacing">
            <div class="light-box-title">
              <h3 class="sub-title"><strong>Employment</strong></h3> 
            </div>
            <ul class="n-list n-list-expanded-list">
              <li>
                Senior Front-end Developer, Tenantcube (2020 – Present).
              </li>
              <li>
                Front-end and JavaScript Programmer, ThoughtWorks (2018 – 2020).
              </li>
              <li>
                Front-end and JavaScript Programmer, Tenmiles (2015 – 2018).
              </li>
              <li>
                Front-end and JavaScript Programmer, Fantain Sports (2014 – 2015).
              </li>
              <li>
                Front-end Web Developer, Rage Communications (2012 – 2013).
              </li>
              <li class="bor-r">
                Front-end Web Developer, Sam-Sys (2011 – 2012).
              </li>
            </ul>
          </div>
        </div>
      </div> <!-- /#education -->

      {% for project in sortedProjects limit:2 %}
        {% include project-detail.html %}
      {% endfor %}
    </div>
<!-- Light box end -->
