---
layout: default
title: Portfolio
permalink: /portfolio/
active: portfolio
---
<div class="wrap">
  <div class="wrap-in">
    <div class="row main-content">
      {% for project in site.data.projects %}
         <div class="one-fourth">
              <div class="thumb-box" href="#{{ project.slugName }}">
                <span class="project-btn detail-link"><img src="/asserts/images/projects/thumb/{{ project.slugName }}.png" | prepend: site.baseurl }}" alt="{{ project.name }}" title="{{ skill.name }}"> </span>
              </div>
            </div><!-- thumb-item -->
      {% endfor %}
    </div>
  </div>
</div>

<div class="hide">
{% for project in site.data.projects %}
<!-- Detail -->

<div id="{{ project.slugName }}">
  <div class="wrap">
  <div class="row colorbox-controls">
    <div class="icon trans colorbox-control-btn colorbox-prev-btn"><i class="fa fa-chevron-left"></i></div>
    <div class="icon trans colorbox-control-btn colorbox-next-btn"><i class="fa fa-chevron-right"></i></div>
    <div class="icon trans colorbox-control-btn colorbox-close-btn last"><i class="fa fa-times"></i></div>
  </div>
  <h2 class="project-detail-title">{{ project.name }}</h2>
  <div class="row">
    <div class="project-detail-image-ct">
      <img class="res-img" src="/asserts/images/projects/detail/{{ project.slugName }}.png" | prepend: site.baseurl}}" alt="{{ project.name }}">
    </div>
    <div class="project-detail-aside">
      <div class="project-info-item tech">
        <h4 class="project-info-item-title">Technologies Used:</h4>
        <div class="row">
          {% for tech in project.technologies %}
            <span class="label">{{ tech }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="project-info-item">
        <h4 class="project-info-item-title">Team Members</h4>
        <div class="mb10 row">
          <div class="sub-title2 mb10">Designer(s):</div>
          <ul class="divider-list row">
          {% for designer in project.teamMembers.designers %}
            <li class="divider-list-item"><a class="primary-link" href="{{ designer.linked_in }}">{{ designer.name }}</a></li>
          {% endfor %}
          </ul>
        </div>

        <div class="mb10 row">
          <div class="sub-title2 mb10">Front End Developer(s):</div>
          <ul class="divider-list row">
          {% for frontEndDeveloper in project.teamMembers.frontEndDevelopers %}
              <li class="divider-list-item"><a class="primary-link" href="{{ frontEndDeveloper.linked_in }}">{{ frontEndDeveloper.name }}</a></li>
          {% endfor %}
          </ul>
        </div>

        <div class="mb10 row">
          <div class="sub-title2 mb10">Back End Developer(s):</div>
          <ul class="divider-list row">
          {% for backEndDeveloper in project.teamMembers.backEndDevelopers %}
              <li class="divider-list-item"><a class="primary-link" href="{{ backEndDeveloper.linked_in }}">{{ backEndDeveloper.name }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <div class="project-info-item">
        <h4 class="project-info-item-title">Supported:</h4>
        <div class="row">
          {% for item in project.devices  %}
            <span class="label">{{ item }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="project-info-item bottom">
        <h4 class="project-info-item-title">Link:</h4>
        <a class="primary-link main-text break-word" href="{{ project.link }}">{{ project.link }}</a>
      </div>
    </div>
  </div>
  </div>
  </div>
{% endfor %}
</div>
