---
layout: default
title:  Front-end Developer Portfolio - Surender Lohia
description: 'Producing quality apps, focusing on writing eloquent and maintainable code.'
permalink: /portfolio/
active: portfolio
main-title: Front-end Developer
main-description: 'Producing quality apps, focusing on writing eloquent and maintainable code.'
image: /assets/img/surender.jpg
main-js: true
---
<div class="wrap">
  <div class="wrap-in">
    <div class="row main-content specing-bottom">
      {% assign sortedProjects = site.data.projects | sort: "uiOrder" %}
      {% for project in sortedProjects limit:9 %}
         <div class="one-third no-space">
            <div class="thumb-box light-box-btn" data-href="{{ project.slugName }}" style="background-color: {{ project.logoBg }}">
              <img class="thumb-box-img" src="/assets/images/projects/thumb/{{ project.slugName }}.png" | prepend: site.baseurl }}" alt="{{ project.name }}" title="{{ skill.name }}">
              <div class="thumb-box-title">
                <div class="thumb-box-title-in">
                  {% for tech in project.technologies %}
                    <span class="thumb-box-title-text">{{ tech }}</span>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div><!-- thumb-item -->
      {% endfor %}
    </div>
  </div>
</div>

<!-- Light box -->
<div class="overlay">
  <div class="light-box-close-btn trans"><i class="fa fa-times"></i></div>
  {% for project in sortedProjects %}
    {% include project-detail.html %}
  {% endfor %}
</div>
<!-- Light box end -->
