<div class="row mb3per">
  <h2 class="title text-center">Follow</h2>
  <div class="row text-center">
    <a class="icon is-primary is-rounded m-r-5" target="_blank" href="https://in.linkedin.com/in/surenderlohia" rel="noopener noreferrer" data-cy="follow-on-linkedin">{% include /svg/linkedin.svg %}</a>
    <a class="icon is-primary is-rounded" target="_blank" href="https://twitter.com/surender_lohia" rel="noopener noreferrer" data-cy="follow-on-twitter">{% include /svg/twitter.svg %}</a>
  </div>
</div>
