<script type="text/javascript" src="{{ "/asserts/js/libs/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/asserts/js/libs/slick.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/asserts/js/libs/jquery.colorbox-min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/asserts/js/libs/share-button.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/asserts/js/app/main.js" | prepend: site.baseurl }}"></script>
