<footer class="footer">
  <div class="wrap text-center">
    {% include follow.html %}
    <p class="copyright-text">Copyright &copy; <span class="current-year">2016</span> Surender Lohia. All rights reserved </p>
  </div>
</footer>

<!-- build:js /assets/js/main.js -->
<script type="text/javascript" src="{{ "/assets/js/libs/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/libs/slick.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/libs/jquery.colorbox-min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/app/main.js" | prepend: site.baseurl }}"></script>
<!-- endbuild -->