<div class="thumb-box light-box-btn" data-href="{{ project.slugName }}" style="background-color: {{ project.logoBg }}">
  <img class="thumb-box-img" src="/assets/images/projects/thumb/{{ project.slugName }}.png" | prepend: site.baseurl }}" alt="{{ project.name }}" title="{{ skill.name }}">
  <div class="thumb-box-title">
    <div class="thumb-box-title-in">
      {% for tech in project.technologies %}
        <span class="thumb-box-title-text">{{ tech }}</span>
      {% endfor %}
    </div>
  </div>
</div>