<!-- Detail -->
<div class="light-box" id="{{ project.slugName }}" data-cy="project-datail">
  <div class="light-box-wrap">
    <div class="light-box-content">
      <div class="project-detail">
        <div class="row">
          <img class="res-img" src="/assets/images/projects/detail/{{ project.slugName }}.png" | prepend: site.baseurl}}" alt="{{ project.name }}">
          <div class="project-detail-content">
            <div class="divider-bottom project-content-spacing">
              <h2 class="project-detail-title">
                <a class="primary-link break-word" href="{{ project.link }}" target="_blank" rel="noopener noreferrer">{{ project.name }}</a>
              </h2>
              <span class="secondary-text-color">{{ project.technologies | join: ', ' }}</span>
            </div>
            <div class="project-content-spacing">
              
                {% if project.teamMembers.designers.size > 0 %}
                  <div class="mb10 row">
                    <span class="project-info-item-sub-title"> Design:&nbsp;</span>
                    <ul class="divider-list left row">
                    {% for designer in project.teamMembers.designers %}
                      <li class="divider-list-item">
                      {% if designer.linkedIn == "#" %}
                        <span>{{ designer.name }}</span>
                      {% else %}
                        <a class="primary-link" href="{{ designer.linkedIn }}" target="_blank" rel="noopener noreferrer">{{ designer.name }}</a>
                      {% endif %}
                      </li>
                    {% endfor %}
                    </ul>
                  </div>
                {% endif %}
                
                {% if project.teamMembers.frontEndDevelopers.size > 0 %}
                  <div class="mb10 row">
                    <span class="project-info-item-sub-title">Front End: </span>
                    <ul class="divider-list left row">
                    {% for frontEndDeveloper in project.teamMembers.frontEndDevelopers %}
                        <li class="divider-list-item">
                          {% if frontEndDeveloper.linkedIn == "#" %}
                            <span>{{ frontEndDeveloper.name }}</span>
                          {% else %}
                            <a class="primary-link" href="{{ frontEndDeveloper.linkedIn }}" target="_blank" rel="noopener noreferrer">{{ frontEndDeveloper.name }}</a>
                          {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                  </div>
                {% endif %}
                
                {% if project.teamMembers.backEndDevelopers.size > 0 %}
                  <div class="mb10 row">
                    <span class="project-info-item-sub-title">Back End:</span>
                    <ul class="divider-list row">
                    {% for backEndDeveloper in project.teamMembers.backEndDevelopers %}
                        <li class="divider-list-item">
                          {% if backEndDeveloper.linkedIn == "#" %}
                            <span>{{ backEndDeveloper.name }}</span>
                          {% else %}
                            <a class="primary-link" href="{{ backEndDeveloper.linkedIn }}" target="_blank" rel="noopener noreferrer">{{ backEndDeveloper.name }}</a>
                          {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                  </div>
                {% endif %}

                {% if project.isLive != true  %}
                  <div class="mb10">
                    <span class="secondary-text-color">*not in live now</span>
                  </div>
                {% endif %} 
              

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>