<!-- Detail -->
<div id="{{ project.slugName }}">
  <div class="wrap">
    <div class="row colorbox-controls">
      <div class="icon trans colorbox-control-btn colorbox-prev-btn"><i class="fa fa-chevron-left"></i></div>
      <div class="icon trans colorbox-control-btn colorbox-next-btn"><i class="fa fa-chevron-right"></i></div>
      <div class="icon trans colorbox-control-btn colorbox-close-btn last"><i class="fa fa-times"></i></div>
    </div>
    <h2 class="project-detail-title">{{ project.name }}</h2>
    <div class="row">
      <div class="project-detail-image-ct">
        <img class="res-img" src="/assets/images/projects/detail/{{ project.slugName }}.png" | prepend: site.baseurl}}" alt="{{ project.name }}">
      </div>
      <div class="project-detail-aside">
        <div class="project-info-item tech">
          <h4 class="project-info-item-title">Technologies Used:</h4>
          <div class="row">
            {% for tech in project.technologies %}
              <span class="label lable-condenced">{{ tech }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="project-info-item">
          <h4 class="project-info-item-title">Team Members:</h4>
          {% if project.teamMembers.designers.size > 0 %}
            <div class="mb10 row">
              <div class="sub-title2 mb10"> {{ project.teamMembers.designers.size | pluralize: "Designer" }}:</div>
              <ul class="divider-list row">
              {% for designer in project.teamMembers.designers %}
                <li class="divider-list-item">
                {% if designer.linkedIn == "#" %}
                  <span>{{ designer.name }}</span>
                {% else %}
                  <a class="primary-link" href="{{ designer.linkedIn }}" target="_blank" rel="noopener noreferrer">{{ designer.name }}</a>
                {% endif %}
                </li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
          
          {% if project.teamMembers.frontEndDevelopers.size > 0 %}
            <div class="mb10 row">
              <div class="sub-title2 mb10">{{ project.teamMembers.frontEndDevelopers.size | pluralize: "Front End Developer" }}: </div>
              <ul class="divider-list row">
              {% for frontEndDeveloper in project.teamMembers.frontEndDevelopers %}
                  <li class="divider-list-item">
                    {% if frontEndDeveloper.linkedIn == "#" %}
                      <span>{{ frontEndDeveloper.name }}</span>
                    {% else %}
                      <a class="primary-link" href="{{ frontEndDeveloper.linkedIn }}" target="_blank" rel="noopener noreferrer">{{ frontEndDeveloper.name }}</a>
                    {% endif %}
                  </li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if project.teamMembers.backEndDevelopers.size > 0 %}
            <div class="mb10 row">
              <div class="sub-title2 mb10">{{ project.teamMembers.backEndDevelopers.size | pluralize: "Back End Developer" }}:</div>
              <ul class="divider-list row">
              {% for backEndDeveloper in project.teamMembers.backEndDevelopers %}
                  <li class="divider-list-item">
                    {% if backEndDeveloper.linkedIn == "#" %}
                      <span>{{ backEndDeveloper.name }}</span>
                    {% else %}
                      <a class="primary-link" href="{{ backEndDeveloper.linkedIn }}" target="_blank" rel="noopener noreferrer">{{ backEndDeveloper.name }}</a>
                    {% endif %}
                  </li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
        <div class="project-info-item">
          <h4 class="project-info-item-title">{{ project.devices.size | pluralize: "Supported Device" }}:</h4>
          <div class="row">
            {% for item in project.devices %}
              <span class="label lable-condenced">{{ item }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="project-info-item bottom">
          <h4 class="project-info-item-title">Link
            {% if project.isLive != true  %}
              (not in live now)
            {% endif %} 
          :</h4>
          <a class="primary-link main-text break-word" href="{{ project.link }}" target="_blank" rel="noopener noreferrer">{{ project.link }}</a>
        </div>
      </div>
    </div>
  </div>
</div>