/*-- Projects --*/

.post-item {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $divider-color;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.post-title-link {
  @include font-size(1.5);
  @extend .primary-link;
}

.post-date,
.post-meta {
  @include font-size(0.875);
  color: $secondary-text-color;
}

.post-description,
.post-content {
  @include font-size(1.125);
  line-height: 1.5;
}

.post-description a,
.post-content a {
  @extend .primary-link;
}

.post-title {
  @include font-size(2);
  margin-bottom: 0;
}

.post-header {
  @include rem-fallback(margin-bottom, 1.875);
}


