.footer {
  color: rgba(255, 255, 255, 0.6);
  padding: 2% 0;
  background-color: $primary-text-color;
}

.copyright-text {
  @extend .bottom;
  @extend .small-text;
}

.footer-text {
  @extend .small-text;
  
  a {
    @extend .primary-link;
  }
}