/* Light box */
$light-box-bottom-spacing: 60px;
$light-box-button-bottom-spacing: 10px;

$light-box-button-desktop-spacing: 20px;

body {
  position:relative;
}

.overlay {
  position:fixed;
  background:rgba(255, 255, 255, 0.9);
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
}

.light-box {
  display:none;
  position:relative;
  top: 0;
  height: 100%;

  @include respond-to(desktop) {
    padding: 0;
    overflow-y: auto;
  }
}

.light-box-wrap {
  max-width:700px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: $light-box-bottom-spacing;

  @include respond-to(desktop) {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  } 
}

.light-box-content {
  height: 100%;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;

  @include respond-to(desktop) {
    overflow-y: initial;
    padding-left: 0;
    padding-right: 0;
  }
}

.light-box-close-btn {
  box-sizing: content-box;
  color:$primary-text-color;
  display:block;
  height:$icon-size;
  position:absolute;
  width:$icon-size;
  text-align:center;
  cursor: pointer;
  bottom: $light-box-button-bottom-spacing;
  border-radius: 50%;
  left: 50%;
  margin-left: -($icon-size / 2);
  border: 1px solid transparent;
  
  i {
    line-height:$icon-size;
    font-size:$icon-font-size;
  }

  @include respond-to(desktop) {
    left: auto;
    right: $light-box-button-desktop-spacing;
    top: $light-box-button-desktop-spacing;
  }

  &:hover,
  &:active {
    border: 1px solid $primary-text-color;
  }
}
