.main-menu-ct {
  @include rem-fallback(padding-top, 0.9375);
  @include rem-fallback(padding-bottom, 0.9375);

  @include respond-to(mobile-and-tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  box-shadow: 0 3px 3px $divider-color;
}

.main-menu {
  display: inline-block;
}

.main-menu-item {
  float: left;
  margin-right: 30px;
}

.main-menu-link {
  @extend .trans;
  @include font-size(1.125);
  display: block;
  color: $primary-text-color;
  line-height:40px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }

  &:active {
    color: $primary-color;
  }
  
  &.active {
    color: $primary-color;
  }

  
}

