.main-menu-ct {
  @include respond-to(mobile-and-tablet) {
    
  }
}

.main-menu {
  display: inline-block;
  position: relative;
  top: 1px;
}

.main-menu-item {
  float: left;
  margin-right: 30px;
}

.main-menu-link { 
  @extend .trans;
  @include font-size(1.125);
  display: block;
  color: $primary-text-color;
  @include rem-fallback(line-height, 3.5);
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }

  &:active {
    color: $primary-color;
  }
  
  &.active {
    color: $primary-color;
  }

  
}

