.main-menu-ct {
  margin-top: 2%;
}

.main-menu {
  display: inline-block;
}

.main-menu-item {
  float: left;
  margin: 0 15px;
}

.main-menu-link {
  display: block;
  color: $main-color;
  line-height:40px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  padding: 0 15px;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 2px solid #fff;

  transition: all 200ms ease;


  &:hover {
    color: darken($main-color, 10%);
    border-color: $main-color;
  }

  &:active {
    color: darken($main-color, 15%);
    border-color: $main-color;
  }
  
  &.active {
    color: darken($main-color, 20%);
    border-color: $main-color;
  }

  &:visited,
  &:hover,
  &:active {
    color: $main-color;
    text-decoration: none;
  }

}

