/*-- Projects --*/

.thumb-box {
  border:1px solid $divider-color;
  position:relative;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}


// Detail

.project-detail-title {
  padding: 10px;
  border-bottom: 1px solid $divider-color;
  margin-bottom: 0;
}

.project-detail-image-ct {
  position:relative;
}


.project-detail-image-ct {
  float:left;
  width:64%;
  position:relative;
  
  @include respond-to(mobile) {
    float: none;
    width: auto;
  }
}

.project-detail-aside {
  background-color: #ECEAEA;
  float: right;
  width: 36%;
  padding:20px 1% 20px 3%;
  @include respond-to(mobile) {
    float: none;
    width: auto;
    padding:10px;
  }
}

.project-info-item {
  margin-bottom:15px;
  &.tech {
    margin-bottom:5px;
  }
}

.project-info-item-title {
  font-size:1.2em;
  margin:0 0 10px 0;
}

#cboxPrevious, #cboxNext {
  display: none !important;
}

.colorbox-controls {
  position: absolute;
  top: -41px;
  right: 0;
}

.colorbox-control-btn {
  background: $primary-color-text;
  color: $primary-color;
  display: block;
  float: left;
  margin-right: 1px;

  &:hover {
    background: $primary-color;
    color: $primary-color-text;
  }
}





