/*-- Share --*/
.share-row {
    padding-bottom: 46px;
}

.share-link,
.share-button {
  @extend .trans;
  color: $accent-color;
  text-decoration: none;
  border: 1px solid $accent-color;
  display: inline-block;
  margin: 0 5px;

  &:hover,
  &:focus {
    color: $primary-color-text;
    text-decoration: none;
    background-color: $accent-color;
  }

  &:active {
    color: $primary-color-text;
    background-color: darken($accent-color, 10%);
  }
}

.share-icon {
  font-size: 20px;
}

.sharer-0 {
  // visibility: hidden;
  // padding: 0;
}

.share-button {
  background-color: transparent;
  display: inline-block !important;
  text-transform: capitalize;
  min-width: 150px;
}

.share-button:before {
  display: none;
}