/*--- slider --*/
.slider-ct {
  border:1px solid $primary-color-text;
  position:relative;
  margin-bottom:3%;
}

.slider {
  position:relative;
}


.slider:not(:first-child) {
    display: none;
}

.slick-arrow {
  @include respond-to(mobile-and-tablet) {
    display: none !important; 
  }
}