/* -- Typography -- */
html {
    font-size: 16px;
    @include respond-to(mobile) {
        font-size: 10px; 
    }
    @include respond-to(tablet) {
       font-size: 10px;
    }
}

body,
.system-font {  
   font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}

// titles
.h1 {
    @include font-size(1.7);
}

.h2 {
    @include font-size(1.5);
}

.h3 {
    @include font-size(1.25);
}

.h4 {
    @include font-size(1);
}

.base-text {
    @include font-size(1);   
}

.main-text {
  @include font-size(1.25);
}

.small-text {
 @include font-size(0.875);
}




.title {
    @extend .h1;
    margin-bottom:15px;
    margin-top:0;
    text-align: center;
}

.sub-title {
    @extend .h2;
}

.small-sub-title {
    @extend .h3;
}


.desc {
  text-indent:50px;
}

.sub-title2 {
    @include font-size(1);
}



.button {
    border-radius: 3px;
    border:0;
    display:inline-block;
    line-height:30px;
    @include rem-fallback(line-height, 1.875);
    padding:5px 15px;
    text-align: center;
    cursor: pointer;
    transition: all 200ms ease;

    @include respond-to(mobile-and-tablet) {
        padding-top: 11px;
        padding-bottom: 11px;
        font-size: 1.2rem;
    }
}

.button-primary-inverse {
    background-color:$primary-color-text;
    color: $primary-color;

    &:hover {
        background-color:darken($primary-color-text, 5%);
    }
    &:active {
        background-color:darken($primary-color-text, 10%);
    }

    &.button-spacing-border {
        border: 1px solid $primary-color-text;
    }
}

.button-accent {
   background-color:$accent-color;
   color:#fff;

    &:hover {
        background-color:darken($accent-color, 5%);
    }
    &:active {
        background-color:darken($accent-color, 10%);
    } 
}

.button-primary {
   background-color:$primary-color;
   color:#fff;

    &:hover {
        background-color:darken($primary-color, 5%);
    }
    &:active {
        background-color:darken($primary-color, 10%);
    } 
}

.button-primary-transparent {
   background-color: transparent;
   color:#fff;
   border: 1px solid $primary-color-text;

    &:hover {
        background-color:$primary-color-text;
        color: $primary-color;
    }
    &:active {
        background-color:darken($primary-color-text, 5%);
        color: $primary-color;
    } 
}


.label {
    @extend .small-text;
    border-radius: 3px;
    background-color:$grey;
    border:0;
    color:$dark-grey;
    display:inline-block;
    line-height: 1;
    @include rem-fallback(margin, 0, 1.25, 1.25, 0);
    @include rem-fallback(padding, 0.625, 0.625);

    &.lable-condenced {
        @include rem-fallback(margin, 0, 0.5, 0.5, 0);
    }
}

.head-section {
    .button {
        @include respond-to(mobile-and-tablet) {
            padding: 10px 5px;
        }
    }
}


