// Variables
// ---------------------

// Color
$main-color : #1abc9c;
$base-color : #2c3e50;
$my-link : #1abc9c;
$my-link-hover : darken($my-link, 5%);
$my-link-active : darken($my-link, 8%);
$my-link-visited : lighten($my-link, 10%);
$grey : #cccccc;
$dark-grey: #222;

$black-op-5:      rgba(0, 0, 0, 0.5);
$black-op-7:      rgba(0, 0, 0, 0.7);
$white-op-5:      rgba(255, 255, 255, 0.5);



// Sizes
$icon-size:       40px;
$icon-font-size:  18px;


