<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include outdated-browser.html %}
      <div class="head-section">
        {% include main-menu.html %}
        <div class="wrap">
          <div class="wrap-in">
            <div class="header-section-spacing">
              <h2 class="main-title">{{ page.main-title }}</h2>
              <p class="small-sub-title secondory-text-light text-center mb0">{{ page.main-description }}</p>
            </div>
          </div>
        </div>
      </div>
      {{ content }}
    {% include footer.html %}

  </body>
</html>
